
        .button.is-sparta {
            background-color: RGBA(64, 110, 115, 1);
            border-color: RGBA(64, 110, 115, 1);
            color: #fff !important;
        }

        .button.is-sparta.is-outlined {
            background-color: RGBA(64, 110, 115, 1);
            border-color: RGBA(64, 110, 115, 1);
            color: white !important;
        }


        .help {
            color: gray;
        }

        body {
            background-color: whitesmoke;
            min-height: 100vh;
        }

        .section {
            padding: 1rem 1.5rem;
            max-width: 750px;
            margin: auto;
        }
