/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-blue: #c0eaf7;
  --color-dark-blue: #1452aa;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  font-family: "Open Sans", sans-serif;

  box-sizing: border-box;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.comment {
  color: blue;
  font-weight: bold;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: auto;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar_box {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-white);
}

a:hover {
  color: var(--color-orange);
  text-decoration: none;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: none;
}
#navbar.navbar--dark {
  background-color: #343a40;
  padding: 10px;
}

/* banner */
#banner {
  width: 100%;
  height: 500px;
  background: url("../img/bannerimg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_title {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
}

.banner_title h1:after {
  content: " ";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 8px;
}

/* search 박스 */
#search {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  padding: 10px;
  background-color: #343a40;
  border-radius: 15px;
}

.input__box {
  width: 400px;
}
.search__box {
  margin: auto;
}

/* card__container */
.wrap {
  max-width: 1200px;
  margin: auto;
}
.card__container .card__img {
  max-width: 350px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

/* #cards-box > div.test {
  padding: 0 0;
  width: 606px;
} */

.camp__card {
  max-width: 350px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-white);
}

.card__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 0 24px;
  margin: auto;
  max-width: 350px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 10;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
  border-radius: 15px;
}

.camp__card:hover .card__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.card__description h5 {
  color: var(--color-orange);
  margin: 0 auto;
}

.card__description span {
  color: var(--color-white);
  margin: 0 auto;
  margin-top: 8px;
}
.card__description p {
  color: var(--color-white);
  margin: 0 auto;
  margin-top: 8px;
}
.card__description h5:after {
  content: " ";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  margin-top: 8px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  h5 {
    font-size: 1.2rem;
  }

  span {
    font-size: 0.8rem;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #343a40;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu__item {
    background-color: none;
  }

  .navbar__menu__item.active {
    border: 1px solid var(--color-white);
    background-color: none;
  }

  /* search */
  .input__box {
    max-width: 190px;
    width: 100%;
  }

  .input-group > .input-group-prepend > label {
    display: none;
  }

  #post-area {
    width: 105px;
  }

  /* 카드list */
  .card__description {
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    margin: 0 24px;
    margin: auto;
    max-width: 350px;
    max-height: 260px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
    border-radius: 15px;
  }

  .detailtop {
    margin-top: 100px;
  }
  .detailleft {
    margin-left: 10px;
  }
}
