<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!--google Fonts add-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
            rel="stylesheet"/>

    <!--Font awesome 추가-->
    <script src="https://kit.fontawesome.com/b46111274b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <script defer="defer" src="../../static/js/main.js"></script>


    <title>게시판</title>

</head>
<body>
<nav id="navbar" class="pl-4 pr-2">
    <div class="navbar__logo">
        <a href="/" class="nav__brand"><i class="fas fa-campground mr-2"></i>CAMP IN</a>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link navbar__menu__item" href="/">메인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar__menu__item" href="/posting">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar__menu__item" href="/login">로그인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar__menu__item">회원가입</a>
        </li>
    </ul>
</nav>

<section id="banner">
    <div class="banner_title jumbotron ">
        <div class="media">
            <div class="media-body">
                <h2 class="mt-0">제목 : {{ title }}</h2>
                <div></div>
                <h3>내용 : {{ content}}</h3>
                작성자 : {{ name }}
                작성날짜 : {{ date }}

            </div>
        </div>

    </div>
</section>


</body>
</html>