<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">




    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script defer="defer" src="../static/js/main.js"></script>
        <script src="../static/js/login.js"></script>


    <!--google Fonts add-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
            rel="stylesheet"/>

    <!--Font awesome 추가-->
    <script src="https://kit.fontawesome.com/b46111274b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">



    <title>게시판</title>

    <script>
        $(document).ready(function () {
            showPost();
        });


        function openClose() {
            if ($("#postbox").css("display") == "block") {
                $("#postbox").hide();
                $("#btn-post-box").text("게시글 쓰기");
            } else {
                $("#postbox").show();
                $("#btn-post-box").text("게시글 취소");
            }
        }

        function makePost(user_name) {
            console.log("1")
            let title = $('#post-title').val()
            let content = $('#post-content').val()
            // {#let name = $('#name').val()#}
            let name = user_name
            let date = Date()
            console.log(user_name)
            $.ajax({
                type: "POST",
                url: "/api/post",
                data: {title_give: title, content_give: content, name_give: name, date_give: date},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

        function showPost() {
            $.ajax({
                type: "GET",
                url: "/api/post",
                data: {},
                success: function (response) {
                    let posts = response['all_posts']
                    for (let i = 0; i < posts.length; i++) {
                        let name = posts[i]['name']
                        let title = posts[i]['title']
                        let date = posts[i]['date']


                        let temp_html = `<tr>
                                                <td style = "cursor:pointer;" class = "comment "onClick = "detailPosting('${title}','${date}'); ">${title}</td>
                                                <td>${name}</td>
                                                <td>${date}</td>

                                            </tr>`

                        $('#table').append(temp_html);

                    }


                }
            })
        }
        function failPost(){
            alert('로그인해주세요')
        }

        function detailPosting(title, date) {
            console.log(title, date)

            $.ajax({
                type: "GET",
                url: "/api/post2",
                data: {title_give: title, date_give: date},
                success: function (response) {
                    let post = response['post'][0]
                    post = (JSON.stringify(post))


                    window.location.href = `posting/posting2/${post}`

                }
            })
        }

    </script>
</head>
<body>
<nav id="navbar" class="pl-4 pr-2">
    <div class="navbar_box">
        <div class="navbar__logo">
            <a href="/" class="nav__brand">
                <i class="fas fa-campground mr-2"></i>CAMP IN</a>
        </div>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link navbar__menu__item" href="/">메인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar__menu__item" href="/posting">게시판</a>
            </li>
            <li class="nav-item">
                {% if member %}
                <a class="nav-link navbar__menu__item" href="#" onclick="cookieRemove()">logout</a>
                {% else %}
                <a class="nav-link navbar__menu__item" href="/login">sign with us!</a>

                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<section id="banner1"></section>
<section id="post-box">
    <div class="posting_box jumbotron  mb-0">
        <table class="table wrap">
            <colgroup>
                <col style="width: 50%;">
                <col style="width: 25%;">
                <col style="width: 25%;">

            </colgroup>

            <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">닉네임</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody id='table'>

            </tbody>
        </table>
        <button onclick="openClose()" id="btn-post-box" type="button" class="btn " style="color :white; background-color: #343a40;">게시글쓰기
        </button>
    </div>
    <div id="postbox" style="display:none" class="wrap">
        <div class="form-group ">
            <label for="post-title">게시판 제목</label>
            <input id="post-title" class="form-control" placeholder="">
        </div>

        <div class="form-group">
            <label for="post-content">내용</label>
            <textarea id="post-content" class="form-control" rows="2"></textarea>
        </div>

        <button type="button" class="btn" style="color :white ;background-color: #343a40;" onclick={% if member %}makePost('{{user_info.username}}'){% else %}failPost(){% endif %} }>게시글 올리기 </button>
    </div>
</section>


</body>

</html>